<div>
    <br>
      <div class="container">
          
      <br>
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Projects</h3>
            </mat-card-title>
            <mat-card-content>
                <div class="example-container mat-elevation-z8">
                    <div class="content">
                        <div  fxLayout="row wrap" fxLayoutGap="16px grid">
                          <div fxFlex="50%" *ngFor="let project of projects">
                            <mat-card class="mat-elevation-z4" >
                              <!-- <mat-card-header>
                                <mat-card-title>Mountains {{num}}</mat-card-title>
                              </mat-card-header>
                              <img mat-card-image src="/assets/pflanze1.png">
                              <mat-card-content>
                                <p>
                                  The Himalayas is a mountain range in Asia.
                                </p>
                              </mat-card-content> -->
                              <mat-card-title-group>
                                <mat-card-title>{{project.title}}</mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                                <img mat-card-sm-image src="/assets/pflanze{{getRandom()}}.png" >
                              </mat-card-title-group>
                              <mat-card-content>
                                {{project.description}}
                              </mat-card-content>
                              <mat-card-actions>
                                <div *ngFor="let  user of getUser()"  class="user">
                                   <img src="{{user.pic}}" width="20" height="20" >
                                </div><br />
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                              </mat-card-actions>
                            </mat-card>
                          </div>
                        </div>
                        </div>
                  </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>