<div>
  <br>
    <div class="container">
        
    <br>
    <div class="container dashboard-container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <!-- mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Dashboard</h3>
          <</mat-card-title> -->
          <mat-card-content>
              <div class="example-container mat-elevation-z8  dashboard-container">
               
                <!-- <chart [type]="type" [data]="data" [options]="options"></chart> -->
                <iframe  onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';"  scrolling="no" frameBorder="0" width="100%" height="100%"  src="https://www.akveo.com/ngx-admin/pages/dashboard"></iframe>
                <!-- <iframe  onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';"  scrolling="no" frameBorder="0" width="100%" height="100%"  src="/assets/dashboard.html"></iframe> -->
                </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>